.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100%;
  /* display: flex; */
  overflow-y: auto; 
}

#h3{
  font-size: 28px;
}

mb-4 {
  margin-bottom: 1.5rem !important;
} 

.form-group {
  margin-bottom: 15px;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

.form-control {
  border-radius: 1px;
  border-color: #041446;
  padding: 10px 15px;
  font-size: 16px;
  /* line-height: 1.5; */
}

.form-control:focus {
  box-shadow: none;
}

.submit-button {
  background-color: #1a1e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  margin-right: 4%;
}
.cancel-button{
  background-color: #fff;
  color: rgb(33, 32, 32);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #1a1e5e !important;
}










