.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100%;
  overflow-y: auto; 
}

#h3{
  font-size: 28px;
}

mb-4 {
  margin-bottom: 1.5rem !important;
} 

.form-group {
  margin-bottom: 15px;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

.form-control {
  border-radius: 1px;
  border-color: #041446;
  padding: 10px 15px;
  font-size: 16px;
  /* line-height: 1.5; */
}

.form-control:focus {
  box-shadow: none;
}

.submit-button {
  background-color: #1a1e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  margin-right: 4%;
}
.cancel-button{
  background-color: #fff;
  color: rgb(33, 32, 32);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: #5d629f !important;
}

.submit-button:hover {
  background-color: #1a1e5e !important;
}

.remove-icon{
  margin-left: 8px;
  color:#1a1e5e;
}

#h3{
  font-size: 28px;
}

mb-4 {
  margin-bottom: 1.5rem !important;
} 

.form-group {
  margin-bottom: 15px;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

.form-control {
  border-radius: 1px;
  border-color: #041446;
  padding: 10px 15px;
  font-size: 16px;
  /* line-height: 1.5; */
}

.form-control:focus {
  box-shadow: none;
}

.submit-button {
  background-color: #1a1e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}
.cancel-button{
  background-color: #fff;
  color: rgb(33, 32, 32);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  margin-right: 1%;
}

.submit-button:hover {
  background-color: #1a1e5e !important;
}

.remove-icon{
  margin-left: 8px;
  color:#1a1e5e;
}

.add-icon{
  background-color: #1a1e5e;
  color: #fff;
  font-size: 24px; 
  padding: 1px;
  border-radius: 7px;
  margin: 5px;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
  border: 4px solid #d3d3d3; /* border-buttonGray color */
  background-color: transparent; /* Assuming no background color */
  color: #000;
  float: right;
  /* margin-top: 0%; */
   /* Assuming text-primaryBlack color */
}

.custom-button .plus-icon {
  width: 1.1em; /* Make icon size similar to text */
  height: 1.1em;
  margin-right: 0.4rem; 
  margin-bottom: 7%;
  margin-right: 0.3rem;/* Space between icon and text */
}

/* Adjust container padding and font size for smaller screens */
@media (max-width: 700px) {
  .container {
    padding: 10px; /* Reduce container padding */
    font-size: 14px; /* Decrease font size */
  }

  /* Decrease font size for h3 */
  #h3 {
    font-size: 24px;
  }

  /* Decrease margin bottom for form group */
  .form-group {
    margin-bottom: 10px;
  }

  /* Adjust position and size of dropdown arrow */
  .custom-dropdown .dropdown-arrow {
    right: 5px; /* Adjust position */
  }

  /* Adjust padding and font size for form control */
  .form-control {
    padding: 8px 12px; /* Reduce padding */
    font-size: 14px; /* Decrease font size */
  }

  /* Adjust padding and font size for buttons */
  .submit-button,
  .cancel-button {
    padding: 8px 16px; /* Reduce padding */
    font-size: 14px; /* Decrease font size */
    margin-right: 2%; /* Adjust margin */
  }

  /* Adjust size and margin for add icon */
  .add-icon {
    font-size: 20px; /* Decrease icon size */
    margin: 3px; /* Adjust margin */
  }

  /* Adjust font size and margin for custom button */
  .custom-button {
    height: 30px; /* Decrease button height */
    font-size: 12px; /* Decrease font size */
    margin-top: 10px; /* Adjust margin */
  }

  /* Adjust size and margin for plus icon within custom button */
  .custom-button .plus-icon {
    width: 0.8em; /* Decrease icon size */
    height: 0.8em;
    margin-right: 0.2rem; /* Adjust margin */
  }
}













