.main-auth {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #01052e;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100; 
  }
  
  .sidebar h5 .fa-check {
    border: 1px solid red; 
  }
  

.sidebar h5 {
    font-size: 18px; 
    color: #fff; 
    line-height: 1.6;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none !important;
}
.sidebar h5 a {
    text-decoration: none !important;
    color: inherit; 
}
.sidebar p {
    margin-bottom: 20px;
    color: #c4bebe;
    font-family: cursive;
}

.right-container {
    flex-grow: 1;
    padding: 20px;
    width: 80%;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .right-container {
        width: 100%; 
    }
}
