.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Navbar background color */
  padding: 18px 20px; /* Padding around Navbar content */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle elevation effect */
}

.custom-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333; /* Brand text color */
}

.custom-brand img {
  margin-right: 10px; /* Spacing between logo and text */
}

.ms-auto {
  margin-left: auto; /* Push the user icon to the right */
}

.user-icon {
  font-size: 1.2rem;
  color: rgb(2, 2, 50); 
  cursor: pointer;
  transition: color 0.3s ease;   
}

.user-icon:hover {
  color: #333; /* Change color on hover */
}

/* Dropdown menu */
.ant-dropdown {
  font-size: 1rem;
}

.ant-dropdown-menu {
  border-radius: 4px;
  border: 1px solid #ccc; /* Dropdown menu border */
}

.ant-dropdown-menu-item {
  padding: 8px 15px; /* Padding inside menu items */
}

.ant-dropdown-menu-item:hover {
  background-color: #f5f5f5; /* Background color on hover */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .custom-brand {
    font-size: 1.2rem; /* Decrease font size for brand text */
  }

  .user-icon {
    font-size: 1rem; /* Decrease font size for user icon */
  }
}
