
/* Customize the Navbar background */
.custom-navbar {
    background-color: #f8f9fa; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  /* Customize the Navbar brand */
  .custom-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #060606; 
    font-family: fangsong !important;
  }  
  
  /* Additional padding for Navbar collapse */
  #basic-navbar-nav {
    padding: 10px;
  }

  /* Navbar.css */

.user-link {
  display: flex;
  align-items: center;
  color: inherit; /* Use the default text color */
  text-decoration: none;
}

.user-icon {
  margin-right: 5px; /* Adjust the margin as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  /* Mobile view adjustments */
  @media (max-width: 767.98px) {
    .custom-navbar {
      padding: 5px 10px;
    }
  
    .custom-nav-link {
      margin-right: 10px;
      font-size: 1rem;
    }
  }
  