.lg-logo {
    height: 100%;
    max-width: 210px; 
    width: auto; 
  }
  

.sm-logo{
    height: 100%;
    max-width: 50px; /* Limit the maximum width to 50px */
    width: auto; /* Let the width adjust automatically */
}

.sidelogo{
  background-color: rgb(255, 95, 21);
}
/* Apply the background color when item is selected */
.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(255, 95, 21);
}

/* Disable pointer events on hover */
.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected:hover {
  pointer-events: none;
}

