  
  .searchInput {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 4%;
    
  }

  .add-button {
    background-color: rgb(255, 95, 21);
    color: white; 
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-weight: bold;
    width: 180px; 
    margin-left: 85%;
    margin-bottom:2%;
}


  