  
  .searchInput {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 4%;
    
  }

  /* .cnt{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: larger;
  }  */

  .add-button{
    background-color:rgb(254 213 61);
    color: white; 
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
    font-weight: bold;
  }


  .dataTable font1{
    font-weight: bold;
    color: #333;
  }
  
  .font2 {
    font-style: italic;
    color: #555;
  }
  
  .font3 {
    text-transform: uppercase;
    color: #777;
  }
  